:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--li-input-height, var(--li-field-height, var(--li-size-field-sm)));
    min-width: 30px;
    box-sizing: border-box;
    background: transparent;
    color: var(--li-color-text);
    font-family: var(--li-font-family);
    font-size: var(--li-input-font-size, var(--li-font-size-sm));
    font-weight: var(--li-font-weight);
    line-height: var(--li-line-height);
}

input {
    margin: 0;
    padding: 0 var(--li-input-space, var(--li-space-sm));
    height: inherit;
    background: transparent;
    border: 0;
    color: inherit;
    outline: 0;
    text-align: left;
    min-width: 0;
    width: 100%;
    flex: 1;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input::placeholder,
input::-webkit-input-placeholder {
    color: var(--li-color-text-secondary);
    font-family: var(--li-font-family);
    font-size: inherit;
    font-weight: var(--li-font-weight);
    line-height: var(--li-line-height);
}

.prefix,
.suffix {
    color: var(--li-color-text-secondary);
    font-size: var(--li-font-size-sm);
    font-weight: var(--li-font-weight-semibold);
}

.prefix {
    padding-left: var(--li-input-space, var(--li-space-sm));
}

.suffix {
    padding-right: var(--li-input-space, var(--li-space-sm));
}

:host(.center) input {
    text-align: center;
}

:host(.big) {
    --li-input-font-size: var(--li-font-size-md);
    --li-input-height: var(--li-size-field-md);
}

:host(.uppercase) input {
    text-transform: uppercase;
    font-weight: var(--li-font-weight-medium);
}

:host(.slim) input {
    padding: 0;
}

::selection {
    color: var(--li-color-text-selection);
    background: var(--li-color-bg-selection);
}
