:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: var(--li-font-size-xs);
    height: var(--li-icon-size-sm);
}

.content {
    flex: 1;
    color: var(--li-color-text-secondary);
}

.action {
    color: var(--li-color-text);
}