:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;

    background: var(--li-color-bg);
    border-radius: var(--li-radius-md);
    border: 1px solid var(--li-color-border);
    user-select: none;

    font-family: var(--li-font-family);
    font-size: var(--li-font-size-sm);
    font-weight: var(--li-font-weight);
}

:host(.shadow) {
    box-shadow: var(--li-shadow);
}

:host(.compact) {
    --li-list-item-gap: var(--li-space-xs);
}

.container {
    overflow-y: auto;
    flex: 1 1 auto;
}

.group {
    padding: 4px;
}

.group:not(:first-child) {
    border-top: 1px solid var(--li-color-border);
    margin-top: var(--li-space-xs);
}

.lines {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.title,
.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: var(--li-line-height);
}

.description {
    color: var(--li-color-text-secondary);
    font-size: var(--li-font-size-xs);
    text-transform: none;
}

li-label {
    height: 26px;
    margin: 0 var(--li-space-sm);
}

li-icon {
    display: block;
    width: var(--li-icon-size-md);
    height: var(--li-icon-size-md);
    flex: none;
}
