:host {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

#switch {
    position: relative;
    width: 25px;
    height: 16px;
    border-radius: 16px;
    background: var(--li-color-border-strong);
    overflow: hidden;
    flex: none;
}

#knob {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    box-sizing: border-box;
    background: var(--li-color-bg);
    transition: left 0.2s;
}

#switch.active {
    background: var(--li-color-brand-subtle);
}

#switch.active #knob {
    left: 12px;
    background: var(--li-color-brand);
}

#label {
    flex: 1;
    margin-left: var(--li-space-xs);
    color: var(--li-color-text-secondary);
    font-family: var(--li-font-family);
    font-size: var(--li-font-size-xm);
    font-weight: var(--li-font-weight-medium);
    line-height: var(--li-line-height);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host([disabled]),
:host([inert]) {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: not-allowed;
}
