:host {
    position: fixed;
    z-index: 9999;

    display: none;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
}

#toast {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    max-width: var(--li-container-width-sm);
    margin: var(--li-space-sm);
    padding: var(--li-space-sm) var(--li-space-xm);
    gap: var(--li-space-sm);

    background: var(--li-color-bg-tooltip);
    color: var(--li-color-text-tooltip);
    border-radius: var(--li-radius-lg);
    box-shadow: var(--li-shadow);

    font-family: var(--li-font-family);
    font-size: var(--li-font-size-xs);
    font-weight: var(--li-font-weight-medium);
    line-height: var(--li-line-height);
    text-align: left;
}
