:host {
    display: block;
    position: absolute;
    outline: none;
    z-index: 1000;
    left: 0;
    top: 0;
    pointer-events: none;
    padding: var(--li-space-sm) 0;
    box-sizing: border-box;
}

#tooltip {
    display: block;
    outline: none;
    padding: 2px 7px;
    border-radius: var(--li-radius-md);
    background: var(--li-color-bg-tooltip);
    color: var(--li-color-text-tooltip);
    font-family: var(--li-font-family);
    font-size: var(--li-font-size-xs);
    font-weight: var(--li-font-weight);
    line-height: var(--li-line-height-lg);
    will-change: transform, opacity;
}
